::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #018899 0%, #eef5dc 50%, #018899 100%);
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9px;
  box-shadow: 0px 0px 0px 100vh #212124;
}
html,
body {
  font-family: 'Red Hat Display', sans-serif;
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(to bottom, #108DC5, #ef8e38 62%, #0a5b81);
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
section {
  min-height: 100vh;
  padding: 100px 15px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
section.buffer-section {
  min-height: 20vh;
  z-index: 2;
}
section.buffer-section--top-1 {
  background: linear-gradient(180deg, transparent 5%, rgba(255, 254, 198, 0.98) 100%);
  min-height: 45vh;
}
section.buffer-section--top {
  background: #fffec6;
  height: 28vh;
}
section.buffer-section--transparent {
  background: transparent;
}
@media (min-width: 760px) {
  section {
    padding: 100px 120px;
  }
}
h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  background-clip: text;
  background-image: url('img/pexels-pixabay-46160.jpeg');
  background-size: auto 100%;
  background-attachment: unset;
  background-position: 0%;
  filter: drop-shadow(1px 2px rgba(10, 12, 15, 0.9));
  font-family: 'Beth Ellen', sans-serif;
  letter-spacing: -1.2vw;
  margin: 0 auto;
  padding: 0 10vw 1vh 0;
  pointer-events: none;
  text-align: right;
  width: 90%;
  z-index: 1;
}
@media (min-width: 550px) {
  h1 {
    top: -5vh;
  }
}
@media (min-width: 760px) {
  h1 {
    filter: drop-shadow(-4px -5px 0px rgba(230, 242, 255, 0.9)) drop-shadow(3px 5px 1px rgba(10, 12, 15, 0.9));
    padding: 4vh 9vw;
    top: 0;
    left: auto;
    right: 88vw;
    transform: translateY(-68%) translateZ(-90px) scale(3.35) rotateY(1deg) rotate(-3deg);
    width: auto;
  }
}
h1 > span {
  display: block;
}
h1 > span:first-child {
  font-size: 34vw;
}
@media (min-width: 760px) {
  h1 > span:first-child {
    font-size: 36vw;
    padding-right: 25vw;
  }
}
h1 > span:last-child {
  font-size: 12vw;
}
@media (min-width: 760px) {
  h1 > span:last-child {
    margin-top: -3.5vh;
    font-size: 18vw;
  }
}
@media (min-width: 1200px) {
  h1 > span:last-child {
    margin-top: -10.5vh;
  }
}
h1.hide {
  display: none;
}
#h1LetterA {
  font-size: 42vw;
  font-weight: 700;
  letter-spacing: -7vw;
}
@media (min-width: 760px) {
  #h1LetterA {
    font-size: 29vw;
    letter-spacing: -6vw;
  }
}
.text-cloud {
  font-family: 'Beth Ellen', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 2px 7px rgba(0, 2, 4, 0.75));
  position: absolute;
  min-height: 60px;
  min-width: 120px;
  transform: translateZ(-40px) scale(6);
}
@media (min-width: 760px) {
  .text-cloud {
    font-size: 20px;
    min-height: 90px;
    min-width: 180px;
  }
}
@media (min-width: 1200px) {
  .text-cloud {
    font-size: 30px;
    min-height: 120px;
    min-width: 240px;
  }
}
.text-cloud > span {
  color: #e9e0d7;
  filter: drop-shadow(1px 2px 2px black);
}
#titleCloud2 {
  background: url('img/watercolor-cloud-3.png') no-repeat;
  background-size: 100% auto;
  top: 44vh;
  right: -8vw;
}
@media (min-width: 550px) {
  #titleCloud2 {
    top: 78vh;
    right: -3vw;
  }
}
@media (min-width: 760px) {
  #titleCloud2 {
    top: 69vh;
    right: -72vw;
  }
}
#titleCloud1 {
  background: url('img/watercolor-cloud-1.png') no-repeat;
  background-size: 100% auto;
  top: 15vh;
  right: 62vw;
}
@media (min-width: 550px) {
  #titleCloud1 {
    top: 64vh;
    right: 80vw;
  }
}
@media (min-width: 760px) {
  #titleCloud1 {
    top: 30vh;
    right: -50vw;
  }
}
@media (min-width: 1200px) {
  #titleCloud1 {
    top: 20vh;
  }
}
.sun {
  background: radial-gradient(circle, #efb938 33%, #ef8e38 100%);
  border: 1px solid #ffbc59;
  border-radius: 50%;
  box-shadow: 0 0 40px #ffbc59;
  filter: blur(2px);
  height: 280px;
  width: 280px;
}
#sunRise {
  position: absolute;
  top: 54%;
  bottom: auto;
  left: auto;
  right: 30vw;
}
.mountainscape {
  background: url('img/Pngtree-mountain-landscape_8807747.png') repeat-x;
  background-position: bottom;
  background-size: auto 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
#mountainscape1 {
  bottom: -8vh;
  left: -14vw;
  filter: invert(1) hue-rotate(8deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.6);
  height: 36vh;
  width: 200%;
  transform: translateZ(-30px) scale(2);
}
#mountainscape2 {
  bottom: -25vh;
  left: 23vw;
  filter: invert(1) hue-rotate(102deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(2px 4px 6px #000000) brightness(0.95);
  height: 28vh;
  transform: translateZ(-20px) scale(3);
}
#mountainscape3 {
  bottom: -46vh;
  left: 11vw;
  filter: invert(1) hue-rotate(180deg) drop-shadow(0px -1px 0px #e2e9eb) drop-shadow(0px -2px 4px rgba(30, 28, 26, 0.75));
  height: 44vh;
  transform: translateZ(-6px) scale(2);
  z-index: 1;
}
#waterTop {
  position: absolute;
  top: auto;
  bottom: -32vh;
  left: auto;
  right: auto;
  height: 12vh;
  width: 120%;
  transform: translateZ(-15px) scale(2);
}
#waterTop .moving-waves-row--2 {
  height: 90%;
}
.moving-waves-row {
  background: url('img/ocean-wave-paint-brush-stroke-1.png') #0f6291 repeat-x;
  background-position: 0 -45px;
  background-size: auto 168%;
  display: block;
  height: 70%;
  width: 100%;
  position: absolute;
}
.moving-waves-row--2 {
  top: 50%;
}
.moving-waves-row--3 {
  top: 100%;
}
.moving-waves-row--4 {
  top: 150%;
}
.moving-waves-row:before,
.moving-waves-row:after {
  content: '';
  background: url('img/ocean-wave-paint-brush-stroke-1.png') repeat-x;
  background-size: auto 100%;
  opacity: 0.88;
  position: absolute;
  width: 100%;
}
.moving-waves-row:before {
  bottom: 28%;
  height: 100%;
}
.moving-waves-row:after {
  bottom: -15%;
  height: 110%;
  filter: hue-rotate(344deg);
}
h3 {
  text-transform: uppercase;
}
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 15px;
}
#topSection {
  min-height: 100%;
  padding: 0;
}
#aboutMeSection {
  background: #fffec6;
  padding: 10vh 15px;
  width: 100vw;
  z-index: 2;
}
@media (min-width: 760px) {
  #aboutMeSection {
    padding: 280px 120px;
  }
}
#aboutMeSection:before {
  content: '';
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  background: url('img/wood.jpg');
  background-position: bottom;
  background-size: cover;
  height: 30vh;
  width: 100%;
  filter: brightness(0.44) contrast(0.95);
}
@media (min-width: 760px) {
  #aboutMeSection:before {
    height: 38vh;
  }
}
#aboutMeSection .section-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  top: 13vh;
  transform: translateZ(0);
}
.plant-left {
  position: absolute;
  top: auto;
  bottom: 0;
  left: -156px;
  right: auto;
  -webkit-transform: translateZ(78px) scale(0.2) scaleX(-1);
  transform: translateZ(78px) scale(0.2) scaleX(-1);
  filter: blur(2px);
}
.about-me-section-plant-right {
  position: absolute;
  top: auto;
  bottom: 80px;
  left: auto;
  right: -354px;
  -webkit-transform: translateZ(40px) scale(0.35);
  transform: translateZ(40px) scale(0.35);
  filter: hue-rotate(347deg);
}
#window {
  position: absolute;
  top: 6vh;
  bottom: auto;
  left: auto;
  right: 11vw;
  -webkit-text-fill-color: transparent;
  background-image: url('img/pexels-pixabay-46160.jpeg');
  background-attachment: unset;
  background-position: 0%;
  background-size: auto 100%;
  height: 140px;
  width: 182px;
}
@media (min-width: 760px) {
  #window {
    height: 230px;
    width: 300px;
    right: 7vw;
  }
}
@media (min-width: 1200px) {
  #window {
    height: 380px;
    width: 480px;
  }
}
#window img {
  width: 100%;
}
#book {
  position: absolute;
  top: -3vh;
  bottom: auto;
  left: 12vw;
  right: auto;
  background: url('img/Pngtree-8910691-book.png') center no-repeat;
  background-size: 104% 104%;
  height: 134%;
  width: 38vw;
  padding: 0 3vw;
  z-index: 2;
}
.carousel-control-prev {
  top: -6%;
  left: -8%;
}
.carousel-control-prev:hover {
  opacity: 1;
  top: -7%;
}
.carousel-control-next {
  top: -15%;
  right: -3%;
}
.carousel-control-next:hover {
  opacity: 1;
  top: -16%;
}
.fa-reply,
.fa-share {
  color: orange;
  filter: drop-shadow(2px 3px 2px black);
  font-size: 100px;
  transform: rotate(-38deg);
}
.fa-share {
  transform: rotate(35deg);
}
.book-page {
  float: left;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.1;
  padding: 7vh 0 13vh;
  transform: rotate(-6deg);
  width: 50%;
}
.book-page h3,
.book-page h4,
.book-page p {
  font-weight: 700;
  padding: 0.1vw 1vw;
}
#calbert {
  max-width: 182px;
}
#deskPlant1 {
  position: absolute;
  top: auto;
  bottom: -6vh;
  left: auto;
  right: -3vw;
  max-width: 266px;
  z-index: 1;
}
#deskPlant {
  position: absolute;
  top: auto;
  bottom: 2vh;
  left: auto;
  right: 23vw;
  max-width: 248px;
  z-index: 1;
}
#imgFrameContainer {
  position: relative;
  top: auto;
  bottom: 1vh;
  left: auto;
  right: 5vw;
  width: 27%;
}
.about-me__img-frame {
  background-color: #ebe7db;
  border: 11px solid #42342f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  transform: perspective(100vh) rotateY(-32deg) rotateX(9deg);
}
.about-me__img-frame:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  background-color: #42342f;
  height: 100%;
  width: 5px;
  transform: rotate3d(3deg);
}
.about-me__img-frame img {
  border: 20px solid #ebe7db;
  border-radius: 24px;
  width: 100%;
}
.language-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
}
.language-list > li {
  padding: 6px 12px;
}
.language-list .fa-brands {
  font-size: 30px;
}
#lamp {
  position: absolute;
  top: auto;
  bottom: -6vh;
  left: 0;
  right: auto;
  height: 182%;
  transform: scaleX(-1);
  z-index: -1;
}
#lamp > img {
  height: 100%;
}
#lampLight {
  position: absolute;
  top: 25%;
  bottom: auto;
  left: -7%;
  right: auto;
  width: 40%;
}
#lampLight > img {
  width: 100%;
}
#projectExamplesSection h3 {
  background: #ffbc58;
  border: 2px solid #07074f;
  color: #07074f;
  font-size: 34px;
  font-weight: 100;
  line-height: 1;
  padding: 10px;
}
.fruit-project-container {
  display: inline-block;
  height: 30vh;
  width: 30vw;
  max-width: 500px;
  position: absolute;
}
#projectExamplesBGVid {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.fruit {
  position: relative;
}
.fruit > img {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0;
  right: auto;
  transition: all 0.8s ease-in-out;
}
.inside-fruit {
  left: -25%;
  max-width: 300px;
  position: relative;
  text-align: center;
}
.inside-fruit h4 {
  font-weight: 100;
}
.inside-fruit img {
  width: 70%;
}
.fruit {
  height: 100%;
}
.fruit .inside-fruit {
  transition: 0.6s all ease-in-out;
  opacity: 0;
  z-index: -5;
}
.fruit:hover .inside-fruit,
.fruit:focus .inside-fruit,
.fruit:active .inside-fruit {
  opacity: 1;
  z-index: 1;
}
.inside-fruit:after {
  content: '';
  position: absolute;
  top: -5px;
  bottom: auto;
  left: 0;
  right: auto;
  background-color: rgba(227, 200, 203, 0.95);
  border-radius: 49%;
  box-shadow: 0 6px 18px #4f4b42;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#comingSoon-Right1 {
  position: absolute;
  top: 20vh;
  bottom: auto;
  left: auto;
  right: 0;
  height: 60vh;
  width: 21vw;
}
#comingSoon-Right1 .fruit > img {
  width: 100%;
}
#comingSoon-Right1 .fruit > img:first-child {
  top: -18vh;
  z-index: 1;
}
#comingSoon-Right1 .fruit > img:last-child {
  top: 29vh;
  left: 3px;
}
#comingSoon-Right1 .fruit:hover > img:first-child,
#comingSoon-Right1 .fruit:focus > img:first-child,
#comingSoon-Right1 .fruit:active > img:first-child {
  top: -30vh;
}
#comingSoon-Right1 .fruit:hover > img:last-child,
#comingSoon-Right1 .fruit:focus > img:last-child,
#comingSoon-Right1 .fruit:active > img:last-child {
  top: 35vh;
}
#comingSoon-Right1 .inside-fruit {
  top: 19vh;
  left: -32px;
}
#trelloProject {
  bottom: -3vh;
  left: 54vw;
  height: 42vh;
}
#trelloProject .fruit {
  height: 100%;
}
#trelloProject .fruit > img {
  bottom: 0;
  width: 50%;
}
#trelloProject .fruit > img:first-child {
  left: 1%;
}
#trelloProject .fruit > img:last-child {
  left: 48%;
}
#trelloProject .fruit:hover > img:first-child,
#trelloProject .fruit:focus > img:first-child,
#trelloProject .fruit:active > img:first-child {
  left: -10%;
}
#trelloProject .fruit:hover > img:last-child,
#trelloProject .fruit:focus > img:last-child,
#trelloProject .fruit:active > img:last-child {
  left: 59%;
}
#trelloProject .inside-fruit {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 18%;
  right: auto;
}
#codeSchoolProjects {
  bottom: 12vh;
  left: 0;
}
#codeSchoolProjects img {
  max-height: 69vh;
}
#codeSchoolProjects h3 {
  font-size: 26px;
}
#codeSchoolProjects h3 > span {
  font-size: 18px;
}
#codeSchoolProjects .fruit > img:first-child {
  top: -52vh;
  z-index: 1;
}
#codeSchoolProjects .fruit > img:last-child {
  transition: all 1s ease-in-out;
  top: -54vh;
  left: 2vw;
}
#codeSchoolProjects .fruit:hover > img:first-child,
#codeSchoolProjects .fruit:focus > img:first-child,
#codeSchoolProjects .fruit:active > img:first-child {
  left: -3vw;
  transform: rotate3d(1, -2, 1, -18deg);
}
#codeSchoolProjects .fruit:hover > img:last-child,
#codeSchoolProjects .fruit:focus > img:last-child,
#codeSchoolProjects .fruit:active > img:last-child {
  left: 3vw;
  transform: rotate3d(3, 11, 4, 22deg);
}
#codeSchoolProjects .inside-fruit {
  top: -27vh;
  left: 32%;
  max-width: 170px;
}
#sunSetSky {
  position: absolute;
  top: auto;
  bottom: 76vh;
  left: auto;
  right: 80vw;
  background: linear-gradient(180deg, #000006 20%, rgba(4, 4, 58, 0.7) 60%, transparent 100%);
  height: 42vh;
  width: 600vw;
  transform: translateZ(-150px) scale(13.1);
  opacity: 0;
  z-index: -3;
}
#sunSet {
  position: absolute;
  top: auto;
  bottom: -320vh;
  left: auto;
  right: -175vw;
  transform: translateZ(-150px) scale(13.1);
  z-index: -2;
}
.palm-tree-beach-silhouette {
  filter: blur(1px);
  position: absolute;
  z-index: -1;
}
#ptbs1 {
  bottom: -235vh;
  left: -50vw;
  filter: blur(1px) brightness(0.3);
  transform: translateZ(-15px) scale(1.1);
}
#ptbs2 {
  bottom: -278vh;
  right: -97vw;
  filter: brightness(0.4) blur(4px);
  transform: translateZ(-24px) scale(0.5) rotateY(180deg);
}
#waterBottom0,
#waterBottom1,
#waterBottom2 {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 5vw;
  right: auto;
  height: 12vh;
  width: 90%;
  z-index: -1;
}
#waterBottom0 > span,
#waterBottom1 > span,
#waterBottom2 > span {
  background: url('img/ocean-wave-paint-brush-stroke-1.png') #0f6291 repeat-x;
  background-position: 0 -45px;
  background-size: auto 168%;
}
#boat {
  position: absolute;
  top: auto;
  bottom: -254vh;
  left: 17vw;
  right: auto;
  max-width: 550px;
  z-index: -1;
}
#boat img {
  transform: rotate(-5deg) rotateX(61deg);
  width: 100%;
}
#sail {
  position: absolute;
  top: -37vh;
  bottom: auto;
  left: 7vw;
  right: auto;
  border-bottom: 46vh solid #efe8de;
  border-right: 18vw solid transparent;
  border-radius: 5px;
  height: 0;
  width: 0;
  transform-origin: left;
  z-index: 1;
}
#sail:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: auto;
  left: -12px;
  right: auto;
  background-color: #541313;
  border-top: 5px solid #646464;
  border-radius: 4px;
  height: 50vh;
  width: 10px;
  z-index: 1;
}
#sail:after {
  content: '';
  position: absolute;
  top: 45.5vh;
  bottom: auto;
  left: -1px;
  right: auto;
  background-color: #541313;
  border-radius: 3px;
  height: 5px;
  width: 18vw;
}
#sailText {
  position: absolute;
  top: -8vh;
  bottom: auto;
  left: 8.5vw;
  right: auto;
  font-family: 'Beth Ellen';
  font-size: 2.5vw;
  line-height: 1.3;
  transform-origin: left;
  z-index: 1;
}
#sailText > span {
  display: block;
}
#sailText > span:nth-child(2) {
  font-size: 1.25vw;
  line-height: 2;
  position: absolute;
}
#sailText > span:last-child {
  padding-left: 4vw;
}
#waterBottom0 {
  bottom: -244vh;
  height: 9vh;
  left: -25vw;
  transform: translateZ(-22px) scale(1.5);
  width: 200vw;
}
#waterBottom0:after {
  content: '';
  background-color: rgba(13, 13, 177, 0.5);
  height: 30vh;
  width: 100%;
}
#waterBottom1 {
  bottom: -248vh;
  height: 10vh;
  transform: translateZ(-12px) scale(1.85);
  width: 110vw;
}
#waterBottom2 {
  bottom: -264vh;
  height: 11vh;
  transform: translateZ(-8px) scale(2.5);
}
section#connectSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 0;
  padding: 12vh 0;
}
@media (min-width: 760px) {
  section#connectSection {
    padding: 20vh 120px;
  }
}
@media (min-width: 1200px) {
  section#connectSection {
    flex-direction: row;
  }
}
section#connectSection:after {
  content: '';
  background-color: #eef5dc;
  box-shadow: 0 0 12px #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(355deg);
  z-index: -1;
}
section#connectSection h3 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 6px;
  padding-bottom: 4vh;
}
@media (min-width: 760px) {
  section#connectSection h3 {
    font-size: 62px;
  }
}
@media (min-width: 1200px) {
  section#connectSection h3 {
    font-size: 58px;
    padding: 0 6vw 0 0;
  }
}
@media (min-width: 1500px) {
  section#connectSection h3 {
    font-size: 106px;
  }
}
section#connectSection > div {
  border-top: 2px solid black;
  padding: 3vh 25px;
  position: relative;
}
@media (min-width: 760px) {
  section#connectSection > div {
    padding: 4vh 0;
  }
}
@media (min-width: 1200px) {
  section#connectSection > div {
    border-top: none;
    border-left: 2px solid black;
    padding: 6vh 0 6vh 6vw;
  }
}
section#connectSection > div:after {
  content: '';
  background: url('img/Axel.png') no-repeat;
  background-size: auto 100%;
  height: 150px;
  width: 275px;
  position: absolute;
  bottom: -11h;
  right: -1vw;
}
section#connectSection span {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-right: 30px;
}
@media (min-width: 760px) {
  section#connectSection span {
    font-size: 26px;
    line-height: 2.5;
  }
}
.new-line-span {
  display: block;
}
#connectList {
  display: inline-flex;
  flex-direction: row;
  font-size: 48px;
  list-style: none;
  padding-left: 0;
}
#connectList a {
  color: darkslateblue;
  margin-right: 40px;
  position: relative;
  top: 0;
}
#connectList a:hover,
#connectList a:focus,
#connectList a:active {
  color: #5440d9;
  top: -1px;
}
footer {
  background: rgba(50, 50, 50, 0.95);
  border-top: 1px solid rgba(252, 252, 252, 0.75);
  border-bottom: 1px solid rgba(252, 252, 252, 0.75);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  margin-bottom: 30px;
  min-height: 50px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  scroll-margin-block-end: 30px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (min-width: 760px) {
  footer {
    padding: 15px 100px;
    top: -36px;
  }
}
@media (min-width: 992px) {
  footer {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
footer:after {
  content: '';
  height: 30px;
  position: absolute;
  bottom: 0;
}
#copyrightLine {
  font-size: 13px;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  #copyrightLine {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 100px;
    padding-top: 7px;
  }
}
@media (min-width: 1200px) {
  #copyrightLine {
    font-size: 16px;
    padding-top: 5px;
  }
}
#copyrightLine > span {
  display: block;
}
#copyrightLine > span:nth-child(even) {
  display: none;
}
@media (min-width: 992px) {
  #copyrightLine > span {
    display: inline;
  }
  #copyrightLine > span:nth-child(even) {
    display: inline;
  }
}
#creditContainer {
  width: 100%;
}
#creditContainer > p {
  margin: 0;
}
#creditContainer button {
  transition: all 0.35s ease-in-out;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 0.05vw;
  padding: 5px 10px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #creditContainer button {
    font-size: 14px;
  }
}
#creditContainer button:hover,
#creditContainer button:focus,
#creditContainer button:active {
  background: #ffffff;
  color: #000000;
}
#credits {
  font-size: 14px;
  list-style: none;
  padding: 25px 0 5px;
}
#credits li {
  line-height: 30px;
}
#credits img {
  max-height: 30px;
  width: 30px;
  margin-right: 10px;
}
