::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #3a7e47 0%, #eef5dc 50%, #3a7e47 100%);
}
::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh #212124;
}
html,
body {
  font-family: 'Red Hat Display', sans-serif;
  height: 100%;
  margin: 0;
}
body {
  background: beige url('img/pexels-arina-krasnikova-7002678.jpg') no-repeat;
  background-attachment: fixed;
}
section {
  background: linear-gradient(0deg, rgba(34, 34, 34, 0.25) 0%, rgba(238, 245, 220, 0.05) 50%, rgba(34, 34, 34, 0.25) 100%);
  min-height: 200px;
  padding: 100px 120px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
h1 {
  filter: drop-shadow(5px 5px 4px white) invert(100%) sepia(1);
  font-family: 'Comforter Brush', cursive;
  font-size: 24vw;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 9%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('img/pexels-arina-krasnikova-7002678.jpg');
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 100%;
  z-index: 1;
}
h2 {
  background-color: rgba(40, 17, 2, 0.75);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 1.5vw;
  line-height: 1.5;
  margin: 15px 0 0;
  padding: 55px 55px 55px 24%;
  position: absolute;
  top: 52%;
  text-align: right;
  text-shadow: 1px 1px 1px #0c0c0c;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}
@-webkit-keyframes palmLeafSwing1 {
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes palmLeafSwing1 {
  0% {
    transform: translateZ(-5px) perspective(300px) rotateY(-2deg) rotateX(8deg);
  }
  20% {
    transform: translateZ(-5px) perspective(300px) rotateY(-5deg) rotateX(12deg);
  }
  40% {
    transform: translateZ(-5px) perspective(300px) rotateY(2deg) rotateX(7deg);
  }
  60% {
    transform: translateZ(-5px) perspective(300px) rotateY(-3deg) rotateX(0deg);
  }
  80% {
    transform: translateZ(-5px) perspective(300px) rotateY(0deg) rotateX(5deg);
  }
  100% {
    transform: translateZ(-5px) perspective(300px) rotateY(-2deg) rotateX(7deg);
  }
}
@keyframes darkPalmLeafFlipSwing {
  0% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-2deg) rotateX(8deg);
  }
  20% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-5deg) rotateX(12deg);
  }
  40% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-2deg) rotateX(7deg);
  }
  60% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-3deg) rotateX(0deg);
  }
  80% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-4deg) rotateX(5deg);
  }
  100% {
    transform: scaleX(-1.35) scaleY(-1.35) translateZ(-150px) perspective(600px) rotateY(-2deg) rotateX(7deg);
  }
}
@keyframes darkPalmLeafSwingBottom {
  0% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-2deg) rotateX(8deg);
  }
  20% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-5deg) rotateX(12deg);
  }
  40% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-2deg) rotateX(7deg);
  }
  60% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-3deg) rotateX(0deg);
  }
  80% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-4deg) rotateX(5deg);
  }
  100% {
    transform: scaleX(-1) rotate(56deg) translateZ(-10px) perspective(600px) rotateY(-2deg) rotateX(7deg);
  }
}
@keyframes topLeftPalmSwing {
  0% {
    transform: skewX(0deg);
  }
  20% {
    transform: skewX(-3deg);
  }
  60% {
    transform: skewX(1deg);
  }
  80% {
    transform: skewX(-2deg);
  }
  100% {
    transform: skewX(1deg);
  }
}
@keyframes topRightPalmSwing {
  0% {
    transform: scale(0.8) skewX(0deg);
  }
  33% {
    transform: scale(0.8) skewX(3deg);
  }
  66% {
    transform: scale(0.8) skewX(0deg);
  }
  100% {
    transform: scale(0.8) skewX(-2deg);
  }
}
@keyframes thinShadowPalmSwing {
  0% {
    transform: translateZ(-230px) perspective(300px) rotateY(2deg) rotateX(8deg);
  }
  20% {
    transform: translateZ(-230px) perspective(300px) rotateY(3deg) rotateX(5deg);
  }
  40% {
    transform: translateZ(-230px) perspective(300px) rotateY(2deg) rotateX(7deg);
  }
  60% {
    transform: translateZ(-230px) perspective(300px) rotateY(3deg) rotateX(6deg);
  }
  80% {
    transform: translateZ(-230px) perspective(300px) rotateY(0deg) rotateX(5deg);
  }
  100% {
    transform: translateZ(-230px) perspective(300px) rotateY(2deg) rotateX(7deg);
  }
}
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}
#topSection {
  min-height: 100%;
  padding: 0;
}
.top-palms {
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: -20px;
}
.top-palms--left {
  animation-name: topLeftPalmSwing;
  filter: drop-shadow(4px 20px 3px rgba(0, 0, 0, 0.75));
  left: -4px;
  transform-origin: top left;
}
.top-palms--right {
  animation-name: topRightPalmSwing;
  filter: drop-shadow(-2px 20px 3px rgba(0, 1, 2, 0.75));
  right: -10px;
  transform-origin: top right;
  z-index: 2;
}
.top-thin-palms {
  animation-name: thinShadowPalmSwing;
  animation-duration: 14s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(0px 0px 0px black);
  position: absolute;
  bottom: -380px;
  right: 0;
  transform-origin: bottom;
}
.dark-leaves-left {
  animation-name: darkPalmLeafFlipSwing;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 375px;
  left: -311px;
}
.dark-leaves-right {
  position: absolute;
  bottom: 49px;
  right: -276px;
  animation-name: palmLeafSwing1;
  transform-origin: bottom right;
  animation-duration: 18s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.dark-leaves-bottom {
  position: absolute;
  bottom: 72px;
  right: 204px;
  animation-name: darkPalmLeafSwingBottom;
  filter: opacity(0.9);
  transform-origin: bottom;
  animation-duration: 24s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.palm-right {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  filter: drop-shadow(-5px 23px 2px rgba(22, 44, 68, 0.25));
  position: absolute;
  bottom: -178px;
  right: 385px;
  z-index: 2;
}
#aboutMeSection {
  padding: 150px 120px;
}
#aboutMeSection:before {
  content: url(img/wood.png);
  opacity: 0.06;
  position: absolute;
  top: 37%;
  left: 0;
}
#aboutMeSection:after {
  content: '';
  background-color: #eef5dc;
  background: linear-gradient(190deg, #eef5dc 55%, #462b1b 45%);
  box-shadow: 0 0 12px #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(350deg);
  z-index: -1;
}
#aboutMeSection .section-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transform: translateZ(0);
}
.plant-left {
  -webkit-transform: translateZ(90px) scale(0.35) scaleX(-1);
  transform: translateZ(90px) scale(0.35) scaleX(-1);
  position: absolute;
  bottom: 80px;
  left: -240px;
}
.about-me-section-plant-right {
  -webkit-transform: translateZ(40px) scale(0.35);
  transform: translateZ(40px) scale(0.35);
  filter: hue-rotate(347deg);
  position: absolute;
  bottom: 80px;
  right: -354px;
}
.about-me__img-frame {
  background-color: #ebe7db;
  border: 11px solid #42342f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  transform: perspective(828px) rotateY(-25deg) rotateX(12deg);
}
.about-me__img-frame:after {
  content: '';
  background-color: #42342f;
  height: 100%;
  width: 5px;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate3d(3deg);
}
.about-me__img-frame img {
  border: 20px solid #ebe7db;
  border-radius: 24px;
}
.language-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-left: 0;
}
.language-list > li {
  padding: 0 10px;
}
.language-list .fa-brands {
  font-size: 30px;
}
#projectExamplesSection {
  background-color: #999999;
  border-top: 3px solid #202020;
  border-bottom: 9px solid #202020;
  box-shadow: 0 0 12px rgba(0, 1, 2, 0.9);
  min-height: 500px;
}
#projectExamplesSection:before {
  content: '';
  border-top: 2px solid #eef5dc;
  border-bottom: 2px solid #eef5dc;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#projectExamplesSection:after {
  content: '';
  background: url(img/pexels-allec-gomes-5403485.jpg) top center;
  background-attachment: fixed;
  filter: contrast(0.4) hue-rotate(32deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#connectSection:after {
  content: '';
  background-color: #eef5dc;
  box-shadow: 0 0 12px #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(355deg);
  z-index: -1;
}
#connectList {
  display: flex;
  flex-direction: row;
  font-size: 48px;
  list-style: none;
  padding-left: 0;
}
#connectList a {
  color: darkslateblue;
  margin-right: 40px;
  position: relative;
  top: 0;
}
#connectList a:hover,
#connectList a:focus,
#connectList a:active {
  color: #5440d9;
  top: -1px;
}
footer {
  align-items: center;
  background: rgba(50, 50, 50, 0.95);
  border-top: 1px solid rgba(252, 252, 252, 0.75);
  border-bottom: 1px solid rgba(252, 252, 252, 0.75);
  color: #ffffff;
  display: flex;
  margin-bottom: 55px;
  min-height: 50px;
  padding-left: 100px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#footerPlant {
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);
  position: absolute;
  bottom: 186px;
  right: 501px;
  width: 11%;
  z-index: 2;
}
