html, body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background: url('img/tim-mossholder--vONZo9HhdA-unsplash.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    min-height: 200px;
    padding: 100px 120px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

h1 {
    background: linear-gradient(90deg, rgb(4 48 110 / 92%) 0%, rgba(10, 110, 98, 0.85) 55%, rgba(10, 120, 252, 0.4) 100%);
    border-top: 1px solid rgba(0,0,5,0.25);
    border-bottom: 1px solid rgba(0,0,5,0.25);
    color: #ffe1bb;
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding-left: 100px;
    text-shadow: 1px 3px 1px rgb(0 0 0 / 90%);
    text-transform: uppercase;
}

h2 {
    background-color: rgba(255,118,0,0.8);
    border-top: 1px solid rgba(0,0,5,0.25);
    border-bottom: 1px solid rgba(0,0,5,0.25);
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2;
    margin: 15px 0 0;
    padding-left: 100px;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

#topSection {
    background-color: rgba(220,220,240,0.15);
    min-height: 100%;
    padding: 0;
    >div {
        position: absolute;
            top: 33%;
            left: 0;
        transform: translateZ(0) translateY(-33%);
        width: 100%;
        z-index: 1;
    }
}

.palm-right {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    position: absolute;
        bottom: -60px;
        right: 0;
    width: 68%;
    z-index: 2;
}

#aboutMeSection {
    background-color: rgba(220,220,240,0.15);
    padding: 150px 120px;
    &:after {
        content: '';
        background-color: rgb(238, 245, 220);
        background: linear-gradient(185deg, rgb(238, 245, 220) 55%, brown 45%);
        box-shadow: 0 0 12px #000000;
        height: 100%;
            width: 100%;
        position: absolute;
            top: 0;
            left: 0;
        transform: skewY(355deg);
        z-index: -1;
    }

    .section-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        transform: translateZ(0);
    }
}

.plant-left {
    -webkit-transform: translateZ(90px) scale(0.35) scaleX(-1);
    transform: translateZ(90px) scale(0.35) scaleX(-1);
    position: absolute;
        top: -410px;
        left: -240px;
}

.about-me__img-frame {
    background-color: #ebe7db;
    border: 11px solid #42342f;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.75);
    display: block;
    position: relative;
    transform: perspective(828px) rotateY(-25deg) rotateX(12deg);

    &:after {
        content: '';
        background-color: #42342f;
        height: 100%;
            width: 5px;
        position: absolute;
            top: 0;
            right: 0;
        transform: rotate3d(3deg);
    }

    img {
        border: 20px solid #ebe7db;
        border-radius: 24px;
    }
}

.language-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding-left: 0;

    >li {
        padding: 0 10px;
        // &:first-child { padding-left: 0; }
    }

    .fa-brands {
        font-size: 30px;
    }
}

#projectExamplesSection {
    background-color: #999999;
    border-top: 3px solid #202020;
    border-bottom: 9px solid #202020;
    box-shadow: 0 0 12px rgba(0,1,2,0.9);
    margin: 60px 0;
    min-height: 600px;
    
    &:before {
        content: '';
        border-top: 2px solid rgb(238, 245, 220);
        border-bottom: 2px solid rgb(238, 245, 220);
        height: 100%;
            width: 100%;
        position: absolute;
            top: 0;
            left: 0;
    }

    &:after {
        content: '';
        background: url(img/pexels-allec-gomes-5403485.jpg) center;
        background-attachment: fixed;
        filter: hue-rotate(133deg);
        height: 100%;
            width: 100%;
        opacity: 0.5;
        position: absolute;
            top: 0;
            left: 0;
    }
}

#connectSection {
    &:after {
        content: '';
        background-color: rgb(238, 245, 220);
        box-shadow: 0 0 12px #000000;
        height: 100%;
            width: 100%;
        position: absolute;
            top: 0;
            left: 0;
        transform: skewY(355deg);
        z-index: -1;
    }
}

#connectList {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    list-style: none;
    padding-left: 0;

    a {
        color: darkslateblue;
        margin-right: 40px;
        position: relative;
            top: 0;
        &:hover, &:focus, &:active {
            color: #5440d9;
            top: -1px;
        }
    }
}

footer {
    background: rgba(50,50,50,0.95);
    border-top: 1px solid rgba(0,0,0,0.75);
    border-bottom: 1px solid rgba(0,0,0,0.75);
    color: #ffffff;
    margin-bottom: 55px;
    min-height: 50px;
    padding-left: 100px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

#footerPlant {
    -webkit-transform: translateZ(200px);
    transform: translateZ(200px);
    position: absolute;
        bottom: 186px;
        right: 501px;
    width: 11%;
    z-index: 2;
}