@keyframes forwardMovement {
  from {
    background-position: 0%;
  }
  to {
    background-position: 1000%;
  }
}
@keyframes backwardMovement {
  from {
    background-position: 0%;
  }
  to {
    background-position: -1000%;
  }
}
@keyframes rockTheBoat {
  0% {
    transform: translateZ(-10px) scale(2.25) rotate(-2deg);
  }
  50% {
    transform: translateZ(-10px) scale(2.25) rotate(2deg);
  }
  100% {
    transform: translateZ(-10px) scale(2.25) rotate(-2deg);
  }
}
@keyframes sailFlap {
  0% {
    transform: skewY(-2deg);
  }
  50% {
    transform: skewY(2deg);
  }
  100% {
    transform: skewY(-2deg);
  }
}
@keyframes introDarkPalmTop {
  0% {
    transform: rotate(150deg) scaleX(-1) rotateY(6deg) rotateX(8deg);
  }
  20% {
    transform: rotate(150deg) scaleX(-1) rotateY(-5deg) rotateX(12deg);
  }
  40% {
    transform: rotate(150deg) scaleX(-1) rotateY(1deg) rotateX(7deg);
  }
  60% {
    transform: rotate(150deg) scaleX(-1) rotateY(-7deg) rotateX(-8deg);
  }
  80% {
    transform: rotate(150deg) scaleX(-1) rotateY(0deg) rotateX(13deg);
  }
  100% {
    transform: rotate(150deg) scaleX(-1) rotateY(-2deg) rotateX(7deg);
  }
}
@keyframes introSectionTopLeaves {
  0% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.1deg) rotateY(-0.22deg);
  }
  20% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.15deg) rotateY(-0.3deg);
  }
  40% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.02deg) rotateY(-0.24deg);
  }
  60% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.18deg) rotateY(-0.14deg);
  }
  80% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.02deg) rotateY(-0.25deg);
  }
  100% {
    transform: scale(0.9) scaleX(-1) rotate(290deg) translateZ(-28px) rotateX(0.12deg) rotateY(-0.2deg);
  }
}
@keyframes darkPalmLeafSwingBottom {
  0% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(-0.2deg) rotateY(0.1deg);
  }
  20% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(0.3deg) rotateY(-0.1deg);
  }
  40% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(-0.1deg) rotateY(0deg);
  }
  60% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(0.3deg) rotateY(-0.1deg);
  }
  80% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(-0.2deg) rotateY(0.1deg);
  }
  100% {
    transform: scale(0.6) rotate(72deg) translateZ(-4px) rotateX(0.1deg) rotateY(-0.1deg);
  }
}
@keyframes darkPalmLeafSwingBottomLeft {
  0% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(-0.2deg) rotateY(0.1deg);
  }
  20% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(0.3deg) rotateY(-0.1deg);
  }
  40% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(-0.1deg) rotateY(0deg);
  }
  60% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(0.3deg) rotateY(-0.1deg);
  }
  80% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(-0.2deg) rotateY(0.1deg);
  }
  100% {
    transform: scaleX(-1) scale(1.2) translateZ(-8px) rotate(-14deg) rotateX(0.1deg) rotateY(-0.1deg);
  }
}
@keyframes topLeftPalmSwing {
  0% {
    transform: skewX(0deg);
  }
  20% {
    transform: skewX(-3deg);
  }
  60% {
    transform: skewX(1deg);
  }
  80% {
    transform: skewX(-2deg);
  }
  100% {
    transform: skewX(1deg);
  }
}
@keyframes topRightPalmSwing {
  0% {
    transform: scale(0.8) skewX(0deg);
  }
  33% {
    transform: scale(0.8) skewX(3deg);
  }
  66% {
    transform: scale(0.8) skewX(0deg);
  }
  100% {
    transform: scale(0.8) skewX(-2deg);
  }
}
