@keyframes forwardMovement {
  from {
    background-position: 0%;
  }
  to {
    background-position: 1000%;
  }
}
@keyframes backwardMovement {
  from {
    background-position: 0%;
  }
  to {
    background-position: -1000%;
  }
}
@keyframes rockTheBoat {
  0% {
    transform: translateZ(-10px) scale(2) rotate(-2deg);
  }
  50% {
    transform: translateZ(-10px) scale(2) rotate(2deg);
  }
  100% {
    transform: translateZ(-10px) scale(2) rotate(-2deg);
  }
}
@keyframes sailFlap {
  0% {
    transform: skewY(-2deg);
  }
  50% {
    transform: skewY(2deg);
  }
  100% {
    transform: skewY(-2deg);
  }
}
